<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CIS 192 - Linear Algebra App</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <style>
      .latex {
        font-size: 200%;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Linear Algebra Toolkit</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#guide">Quick Guide</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://linear-algebra.readthedocs.org/en/latest/matrix.html">Documentation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Try it!</div>
                <form action="/evaluate" class="navbar-form" role="form" method="POST">
                    <div class="form-group">
                        <input type="text" name="raw_string" class="form-control" value="{{ input }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Compute</button>
                </form>
                <p>Try entering a matrix expression, like [[1,2],[5,6]] * [[1,0],[0,1]]</p>
                <p class="latex">{{ output if output != None }}</p>
            </div>
        </div>
    </header>

    <!-- Guide Section -->
    <section id="guide">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quickstart</h2>
                    <h3 class="section-subheading text-muted">Learn the basics of how to use this app.</h3>
                </div>
                <div class="col-lg-12">
                    <h3>Entering matrices</h3>
                    <p>Enter matrices in this format: [[1,2,3],[4,5,6],[7,8,9]].</p>
                    <p>This corresponds to the matrix $\begin{bmatrix}1 & 2 & 3\\4 & 5 & 6\\7 & 8 & 9\end{bmatrix}$</p>
                    <br>

                    <h3>Generating random matrices</h3>
                    <p>You can also generate random matrices in the following way: random(#rows, #columns, starting value (optional), ending value (optional)). If you do not specify a start and end range for the random values, they are assumed to be -10 and 10, respectively.</p>
                    <h5>Examples:</h5>
                    <p>random(2,2) could generate $\begin{bmatrix}1 & 2 & 3\\4 & 5 & 6\\7 & 8 & 9\end{bmatrix}$</p>
                    <p>random(3,2,100,150) could generate $\begin{bmatrix}107 & 116\\110 & 145\\132 & 142\end{bmatrix}$</p>
                    <br>

                    <h3>Matrix operations</h3>
                    <p>Matrices support many operations, such as +, -, *, ^, determinant(), transpose(), and eig().</p>
                    <h5>Examples:</h5>
                    <p>[[1,2,3],[4,5,6]] + [[3,3,3],[4,4,4]] would evalute to $\begin{bmatrix}4 & 5 & 6\\8 & 9 & 10\end{bmatrix}$</p>
                    <p>[[1,2],[4,5]] - [[1,1],[1,1]] would evalute to $\begin{bmatrix}0 & 1\\3 & 4\end{bmatrix}$</p>
                    <p>[[4,2],[6,5]] * [[2,6],[3,1]] would evalute to $\begin{bmatrix}14 & 26\\27 & 41\end{bmatrix}$</p>
                    <p>[[1,0],[6,5]] ^ 3 would evalute to $\begin{bmatrix}1 & 0\\186 & 125\end{bmatrix}$</p>
                    <p>transpose([[1,0],[6,5]]) would evalute to $\begin{bmatrix}1 & 6\\0 & 5\end{bmatrix}$</p>
                    <p>determinant([[1,2],[3,4]]) would evalute to -2</p>
                    <p>eig([[2, -4], [-1, -1]]) would evalute to 3.0, -2.0</p>
                </div>
            </div>
        </div>
    </section>


    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">More information about the app</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <h3>What is this?</h3>
                <p>Linear algebra toolkit is a Flask app created by Prakhar Bhandari and Adel Qalieh. Along with this web interface, it features a CLI for doing matrix operations directly on the command line.</p>
                <h3>I want to see more!</h3>
                <p>You can view the source code for this project <a href="https://github.com/pbjr23/linear-algebra">here</a>. You can also see the full documentation for this app (generated by Sphinx) <a href="http://linear-algebra.readthedocs.org/en/latest/matrix.html">here</a>. </p>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Let us know if you have any questions or comments.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" id="contact-submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Linear Algebra Toolkit 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <!-- <script src="../static/js/contact_me.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/agency.js"></script>

</body>

</html>
